.button {
	-fx-font-size: 30.0;
	-fx-max-width: infinity;
	-fx-alignment: center;
	-fx-vgrow-policy: always;
}

#bpane {
	-fx-background-image: url('../main_menu_background.jpg');
	-fx-background-size: 100% 100%;
}